body {
	background: url("seamless-pattern2.jpg") #d2dcff;
    background-repeat: repeat;
    height: 100vh;
    font-family: 'Courier Prime', monospace;
    font-size: 17px;
	color: #000932;
	display: flex;
	justify-content: center;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    height: 500px;
    border: 2px solid rgba(194, 194, 211, .65);
    padding: 25px;
    border-radius: 35px;
    background-color: white;
    perspective: 1000px;
}


img.card {
    width: 150px;
    height: 150px;
	filter: drop-shadow(2px 3px 3px rgb(184, 184, 209));
    transform-style: preserve-3d;
    transition: transform .5s;
}

img.card.flip {
    transform: rotateY(180deg) scaleX(-1);
}

.edition {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
}

.container {
	background: #fff;
	border-radius: 10px;
	color: #000932;
    width: 400px;
    height: auto;
	padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(194, 194, 211, .65);
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 30px;
}

.centered-ed {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: -8px;
    text-align: center;
}

.timer {
	font-size: 1em;
}


#resetBtn {
    background-image: radial-gradient(100% 100% at 100% 0, #878fe9 0, #4b52bb 100%);
    border: none;
    width: 155px;
    padding-top: 8px;
    padding-bottom: 11px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    border-radius: 5px;
    background-color: #6d74db;
    font-size: 16px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resetBtn:active {
    transform: scale(0.90);
}

#resetBtn:hover {
    background-image: radial-gradient(100% 100% at 100% 0, #232a85 0, #4b52bb 100%);  
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .82);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: hidden;
    transition: all .33s ease-out;
    transform: scale(1.2);    
}

body.overlay-is-open .overlay {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

body.overlay-is-open .blur {
    filter: blur(5px);
}


.overlay-inner {
    color: #4b52bb;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    display: flex;
    flex-direction: column;
}




@media only screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-flow: row wrap;
        width: 320px;
        height: auto;
        border: none;
        padding: 25px;
        border-radius: 25px;
        background-color: white;
        border: 2px solid rgba(194, 194, 211, .65);   
    }

    .container {
        background: #fff;
        border-radius: 10px;
        color: #000;
        width: 300px;
        height: auto;
        padding: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid rgba(194, 194, 211, .65);
    }

    .banner {
        max-width: 90%;
    }

    .edition {
        font-size: 17px;
    }
    
}