.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    height: 500px;
    border: none;
    background-color: rgb(255, 255, 255);
}

img {
    width: 150px;
    height: 150px;
}