html,
body {
	font-family: "Roboto", sans-serif;
	text-align: center;
	color: black;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    height: 500px;
    border: none;  
}

img {
    width: 150px;
    height: 150px;
	filter: drop-shadow(0 3px 5px rgb(147, 147, 168));
}

